<h1>Links Index Page</h1>

<%= form_for [@user, @link], url: user_links_path(@user), method: :post do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %> <br>

  <%= f.label :status %>
  <%= f.select :status, [['Unread', :unread], ['Read', :read]] %>

  <%= f.submit "Submit New Link" %>
<% end %>

<br>
<br>

<% @links.read.each do |link| %>
  <%# if link.status == "read" %>
    <div class="link">
      <h3><a href= <%= link.url %> target="_blank"><%= link.url %></h3>
      <dl>
        <h4 class="status">Status: <%= link.status %></h4>
        <%# if link.status == "unread" %>
          <%#= link_to "Mark as Read", read_user_link_path(@user, link), class: 'read' %>
        <%# else %>
          <%= link_to "Mark as Unread", unread_user_link_path(@user, link), class: 'unread' %>
        <%# end %>
      </dl>
    </div>

  <br>
<% end %>

<% @links.unread.each do |link| %>
  <div class="link">
    <h3><a href= <%= link.url %> target="_blank"><%= link.url %></h3>
    <dl>
      <h4 class="status">Status: <%= link.status %></h4>
      <%# if link.status == "unread" %>
        <%= link_to "Mark as Read", read_user_link_path(@user, link), class: 'read' %>
      <%# else %>
        <%#= link_to "Mark as Unread", unread_user_link_path(@user, link), class: 'unread' %>
      <%# end %>
    </dl>
  </div>

  <br>
<% end %>

